@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --cor1: #FFC1A7;
  --cor2: #282828;
  --cor3: #666666;
  --cor4: #ffdaca;
}

h2 {
  font-size: 24px;
}

main {
  padding: 20px 140px;
}