@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --cor1: #FFC1A7;
  --cor2: #282828;
  --cor3: #666666;
  --cor4: #ffdaca;
  --cor5: #F4F4F4;
  --cor6: #FFF7F4;
  --cor7: #ffe1d625;
}

h2 {
  font-size: 24px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 57px;
  margin-top: 57px;
  padding: 20px 140px;
}

@media only screen and (max-width: 730px) {
  main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}