section>div:first-child {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 1;
}

div.div__quadrado {
    position: absolute;
    right: 0.1px;
    z-index: -1;
    width: 21px;
    height: 21px;
    background-color: var(--cor4);
    padding: 0 5px;
}

/* sessão sobre mim */
#section__sobremim {
    /* background-color: aqua; */
    height: 120vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#section__sobremim>div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 57px;
    /* height: 100%; */
    /* background-color: bisque; */
    gap: 57px;
}

.div__foto {
    position: relative;
}

.div__foto>div:first-child {
    position: relative;
    display: flex;
    align-items: center;
}

.div__foto>div:nth-child(2) {
    display: flex;
    position: relative;
    left: -50px;
    bottom: 26px;
}

.div__foto>div:nth-child(2)>p {
    position: absolute;
    left: -135px;
    bottom: 7px;
    font-weight: bold;
}

.div__foto>div:nth-child(3) {
    position: absolute;
    left: 91px;
    bottom: -147px;
}

.div__foto>div:nth-child(3)>p {
    position: absolute;
    left: 109px;
    bottom: -5px;
    font-weight: bold;
    width: max-content;
}

.div__foto>div:nth-child(4) {
    position: absolute;
    right: 0;
    bottom: -79px;
}

.div__foto>div:nth-child(4)>p {
    position: absolute;
    left: 165px;
    bottom: 6px;
    font-weight: bold;
    width: max-content;
}

.div__foto>div>img {
    max-height: 350px;
}

.div__foto>div>img:nth-child(2) {
    position: absolute;
    left: 24px;
}

.div__texto {
    width: 100%;
    max-width: 400px;
    /* background-color: blueviolet; */
}

.div__texto>span {
    font-weight: 800;
    color: var(--cor2);
    font-size: 20px;
}

.div__texto>span>span {
    width: 100%;
    background-color: var(--cor1);
    padding: 0 5px;
}

.div__texto>p {
    margin-top: 11px;
    color: var(--cor3);
    font-size: 18px;
}

/* sessão experiência */

#section__experiencia {
    /* background-color: aqua; */
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 57px;
}

#section__experiencia>div:nth-child(2) {
    /* background-color: blueviolet; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 41px;
}

#section__experiencia>div:nth-child(2)>div:nth-child(2)>h2 {
    background-color: var(--cor1);
    padding: 0 5px;
    font-size: 18px;
    color: var(--cor2);
    font-weight: bold;
}

#section__experiencia>div:nth-child(2)>header {
    /* background-color: chartreuse; */
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
    gap: 25px;
}

#section__experiencia>div:nth-child(2)>header>div {
    /* background-color: aqua; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#section__experiencia>div:nth-child(2)>header>div:first-child>button {
    background-color: transparent;
    border: none;
    width: 100px;
    text-align: center;
    cursor: pointer;
}

#section__experiencia>div:nth-child(2)>header>div:first-child>button>h3 {
    font-size: 20px;
    font-weight: 500;
}

.div__logos,
.div__cliqx,
.div__senai {
    background-color: var(--cor1);
    max-width: 100px;
    width: 0%;
    height: 2px;
    margin-top: 25px;
}

.animation__surgir {
    animation: 0.5s linear forwards surgir;
}

@keyframes surgir {
    100% {
        width: 100%;
    }
}

/* sessão tecnologias */

#section__tecnologias {
    background-color: var(--cor6);
    width: calc(100% + 280px);
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;

}

#section__tecnologias>div {
    display: inline-block;
    animation: scroll 10s linear infinite;
}

#section__tecnologias>div>img {
    margin: 0 45px;
}

@keyframes scroll {
    from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* sessão projetos */
#section__projetos {
    /* background-color: aqua; */
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 57px;
}

#section__projetos>div:nth-child(2) {
    /* background-color: rgb(0, 255, 145); */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#section__projetos>div:nth-child(2)>div {
    /* background-color: brown; */
    max-width: 1057px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 57px;
}

#section__projetos>div:nth-child(2)>div>div {
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 41px;
    max-width: 500px;
    width: 100%;
    min-height: 250px;
    border: 1px solid var(--cor1);
    border-radius: 50px;
    padding: 20px;
}

#section__projetos>div:nth-child(2)>div>div:hover {
    background-color: var(--cor7);
}

#section__projetos>div:nth-child(2)>div>div>h3 {
    color: var(--cor2);
    font-size: 20px;
}

#section__projetos>div:nth-child(2)>div>div>p {
    max-width: 440px;
    /* text-overflow: ellipsis; */
    /* overflow: hidden; */
    /* white-space: nowrap; */
    color: var(--cor3);
    font-size: 18px;
}

#section__projetos>div:nth-child(2)>div>div>div:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#section__projetos>div:nth-child(2)>div>div>div:nth-child(1)>a>img:hover {
    scale: 1.2;
}

#section__projetos>div:nth-child(2)>div>div>div:nth-child(3) {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
    width: 100%;
}

#section__projetos>div:nth-child(2)>div>div>div>div {
    width: 100px;
    height: 34px;
    background-color: var(--cor1);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#section__projetos>div:nth-child(2)>div>div>div>div>span {
    font-size: 14px;
    font-weight: bold;
    color: var(--cor2);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px;
}

/* sessão contato */
#section__contato {
    background-color: var(--cor8);
    width: calc(100% + 280px);
    padding: 57px 140px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 57px;
}

#section__contato>p {
    color: var(--cor3);
    font-size: 18px;
}

#section__contato>div:nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 41px;
    width: 100%;
}

/* #section__contato>div:nth-child(3)>a>img {
    height: 50px;
} */

#section__contato>div:nth-child(3)>a>img:hover {
    scale: 0.9;
}

/* animation */

.hidden {
    opacity: 0;
    transition: all 2s;
    filter: blur(5px);
    transform: translateX(-100%);
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media only screen and (max-width: 350px) {
    .div__foto>div {
        width: 100%;
    }

    .div__foto>div>img {
        max-height: 270px;
    }
}

@media only screen and (max-width: 730px) {
    #section__tecnologias {
        width: calc(100% + 40px);
    }

    #section__contato {
        width: calc(100% + 40px);
        padding: 57px 20px;

    }
}


@media only screen and (max-width: 1220px) {
    #section__sobremim {
        height: auto;
    }

    #section__sobremim>div:nth-child(2) {
        flex-direction: column;
    }

    .div__texto {
        max-width: initial;
    }

    .div__foto>div:nth-child(2),
    .div__foto>div:nth-child(3),
    .div__foto>div:nth-child(4) {
        display: none;
    }
}